.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;

  margin: 14px 16px;
  padding-bottom: 30px;
}

.topleft {
  align-content: center;
  /* background-color: lightblue;
  border-radius: 10px;
  padding: 10px; */
}

.topright {
  align-content: center;
  /* background-color: antiquewhite;
  border-radius: 10px;
  padding: 10px; */
}

* {
  font-family: Lato, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
}

img {
  /* allows for dynamic resizing */
  display: block;
  width: 100%;
  height: auto;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

ul.nav li {
  float: right;
  font-size: 20px;
}

ul.nav li.home {
  float: left;
}

ul.nav li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

