/* top level DOM element CSS rules */

* {
  font-family: Lato, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: auto;
	max-width: 1000px;
}

img {
  /* allows for dynamic resizing */
  display: block;
  width: 100%;
  height: auto;
}